# Config files
admin/
config_db_inc.php
.htaccess

# Data
attachments/
debug/

# Docs
doc/
docbook/

# Build output
build/

#libraries
library/

# IDE/Editor temporary files
*~
*.swp
*.bak
.buildpath
.cache
.project
.settings
